.footer {
  background-color: #34495e;
  height: 50px;
}
.footer .footer__content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.footer .footer__content p {
  color: white;
  font-weight: 700;
}
