@import "src/mixins.scss";

.editModals{
  width: 100%;
  display: flex;
  justify-content: center;
  &__form{
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    &__input{
      p{
        font-size: 18px;
        margin: 5px 0;
        font-weight: 700;
      }
      input{
        @include indentsForElements
      }
    }
    &__buttons{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 10px;
      button{
        transition-property: background-color, color;
        transition-duration: 0.5s;
        @include indentsForElements
      }
    }
  }
}

@media (hover:hover) {
  .editModals{
    &__form{
      &__buttons{
        button{
          &:hover{
            color: black;
            background-color: rgb(255, 182, 40);
          }
        }
      }
    }
  }
}

@media (hover:none) {
  .editModals{
    &__form{
      &__buttons{
        button{
          &:hover{
            color: black;
            background-color: rgb(255, 182, 40);
          }
        }
      }
    }
  }
}