.profile {
  padding: 10px;
  height: 100%;
  flex: 1 1;
  display: flex;
  justify-content: center;
}
.profile__content {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.profile__content__img img {
  height: 200px;
}
.profile__content__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.profile__content__data h1 {
  font-weight: 700;
}
.profile__content__data button {
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
}
@media (max-width: 375px) {
  .profile__content {
    flex-direction: column;
  }
}
@media (hover: hover) {
  .profile__content__data button:hover {
    color: black;
    background-color: #ffb628;
  }
}
@media (hover: none) {
  .profile__content__data button:active {
    color: black;
    background-color: #ffb628;
  }
}
 